body {
    font-family: "Roboto", sans-serif;
}

.welcome-jumbo {
    transform: translate3d(300px, 0, 0);
    max-width: calc(100vw - 300px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('https://images.squarespace-cdn.com/content/v1/63c9d3d9c277c44cc5278433/0307c9ef-461d-41ec-8177-57a0e1b377d7/PizzaPlanetbackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    padding: 100px;
    .status {
        display: inline-block;
        padding: 10px 15px;
        font-size: 0.8rem;
        font-weight: 700;
        color: white;
        background: black;
        border-radius: 5px;
        align-self: flex-start;
        margin-bottom: 20px;
    }
    h1 {
        font-size: 4rem;
        font-weight: 900;
        align-self: flex-start;
        color: white;
        margin-bottom: 100px;
    }
    .pizza {
        width: 100%;
        max-width: 1000px;
        animation: moveUpandDown 1s linear infinite;
        position: relative;
    }
    @keyframes moveUpandDown {
        0%,
        100% {
            bottom: 0;
        }
        50% {
            bottom: 30px;
        }
    }
}

@media (min-width: 576px) {
    .side-menu {}
}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}